Ben.Demo.UnitTest/Connected Services/BizArticleService/BizArticleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://Ben.Demo.BizTalk.Schemas.BizArticle" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://Ben.Demo.BizTalk.Schemas.BizArticle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BizArticles">
    <xs:annotation>
      <xs:appinfo />
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Article">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ArticleName" type="xs:string" />
              <xs:element name="ArticleContent" type="xs:base64Binary" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>