Ben.Demo.UnitTest/Connected Services/BizArticleService/BizTalkServiceInstance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Ben.Demo.BizTalk.Schemas.BizArticle" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizTalkServiceInstance" targetNamespace="http://Ben.Demo.BizTalk.Schemas.BizArticle" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <CreationInfo Created="2020-09-08 17:41:12Z" />
  </wsdl:documentation>
  <wsp:Policy wsu:Id="CustomBinding_ITwoWayAsync_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsp:ExactlyOne>
          <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
          <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        </wsp:ExactlyOne>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns:tns="http://schemas.microsoft.com/Message" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="MessageBody">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://Ben.Demo.BizTalk.Schemas.BizArticle/Imports" targetNamespace="http://Ben.Demo.BizTalk.Schemas.BizArticle/Imports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://Ben.Demo.BizTalk.Schemas.BizArticle" />
    </xs:schema>
    <xs:schema xmlns="http://Ben.Demo.BizTalk.Schemas.BizArticle" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://Ben.Demo.BizTalk.Schemas.BizArticle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="BizArticles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BizArticle">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="BizArticleName" type="xs:string" />
                  <xs:element name="BizArticleContent" type="xs:base64Binary" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ArticleService_UploadDocument_InputMessage">
    <wsdl:part name="part" element="tns:BizArticles" />
  </wsdl:message>
  <wsdl:message name="ArticleService_UploadDocument_OutputMessage">
    <wsdl:part name="part" element="tns:BizArticles" />
  </wsdl:message>
  <wsdl:message name="ArticleService_DownloadDocument_InputMessage">
    <wsdl:part name="part" element="tns:BizArticles" />
  </wsdl:message>
  <wsdl:message name="ArticleService_DownloadDocument_OutputMessage">
    <wsdl:part name="part" element="tns:BizArticles" />
  </wsdl:message>
  <wsdl:portType name="ArticleService">
    <wsdl:documentation />
    <wsdl:operation name="UploadDocument">
      <wsdl:documentation />
      <wsdl:input message="tns:ArticleService_UploadDocument_InputMessage" />
      <wsdl:output message="tns:ArticleService_UploadDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadDocument">
      <wsdl:documentation />
      <wsdl:input message="tns:ArticleService_DownloadDocument_InputMessage" />
      <wsdl:output message="tns:ArticleService_DownloadDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ITwoWayAsync" type="tns:ArticleService">
    <wsp:PolicyReference URI="#CustomBinding_ITwoWayAsync_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDocument">
      <wsdl:documentation />
      <soap12:operation soapAction="UploadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDocument">
      <wsdl:documentation />
      <soap12:operation soapAction="DownloadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizTalkServiceInstance">
    <wsdl:port name="CustomBinding_ITwoWayAsync" binding="tns:CustomBinding_ITwoWayAsync">
      <soap12:address location="http://vboxwin2019/BenDemoBizTalkArticleWcfService/ArticleService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://vboxwin2019/BenDemoBizTalkArticleWcfService/ArticleService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VBOXWIN2019\Ben</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>