Ben.Demo.UnitTest/Connected Services/BizArticleService/BizTalkServiceInstance1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Ben.Demo.BizTalk.Schemas.BizArticle" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizTalkServiceInstance" targetNamespace="http://Ben.Demo.BizTalk.Schemas.BizArticle" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <CreationInfo Created="2020-09-08 14:21:08Z" />
  </wsdl:documentation>
  <wsp:Policy wsu:Id="CustomBinding_ITwoWayAsync_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsp:ExactlyOne>
          <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
          <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        </wsp:ExactlyOne>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://Ben.Demo.BizTalk.Schemas.BizArticle/Imports">
      <xsd:import schemaLocation="http://vboxwin2019:80/BizTalkWcfServiceArticleUploadDownload/BizArticleService.svc?xsd=xsd2" namespace="http://Ben.Demo.BizTalk.Schemas.BizArticle" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BizArticleService_Upload_InputMessage">
    <wsdl:part name="part" element="tns:BizArticles" />
  </wsdl:message>
  <wsdl:message name="BizArticleService_Upload_OutputMessage">
    <wsdl:part name="part" element="tns:BizArticles" />
  </wsdl:message>
  <wsdl:message name="BizArticleService_Download_InputMessage">
    <wsdl:part name="part" element="tns:BizArticles" />
  </wsdl:message>
  <wsdl:message name="BizArticleService_Download_OutputMessage">
    <wsdl:part name="part" element="tns:BizArticles" />
  </wsdl:message>
  <wsdl:portType name="BizArticleService">
    <wsdl:documentation />
    <wsdl:operation name="Upload">
      <wsdl:documentation />
      <wsdl:input message="tns:BizArticleService_Upload_InputMessage" />
      <wsdl:output message="tns:BizArticleService_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:documentation />
      <wsdl:input message="tns:BizArticleService_Download_InputMessage" />
      <wsdl:output message="tns:BizArticleService_Download_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ITwoWayAsync" type="tns:BizArticleService">
    <wsp:PolicyReference URI="#CustomBinding_ITwoWayAsync_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <wsdl:documentation />
      <soap12:operation soapAction="Upload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:documentation />
      <soap12:operation soapAction="Download" style="document" />
      <wsdl:input>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizTalkServiceInstance">
    <wsdl:port name="CustomBinding_ITwoWayAsync" binding="tns:CustomBinding_ITwoWayAsync">
      <soap12:address location="http://vboxwin2019/BizTalkWcfServiceArticleUploadDownload/BizArticleService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://vboxwin2019/BizTalkWcfServiceArticleUploadDownload/BizArticleService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VBOXWIN2019\Ben</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>