WixServiceWinApp/Connected Services/WcfWixService/SimpleTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:dxc.esb.aibp.canonical/v1" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" elementFormDefault="qualified" targetNamespace="urn:dxc.esb.aibp.canonical/v1" id="SimpleTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ProviderEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Decipha" />
      <xs:enumeration value="NextGen" />
      <xs:enumeration value="DXC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StreamEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Origination" />
      <xs:enumeration value="Servicing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OriginationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NewApplication" />
      <xs:enumeration value="TopupApplication" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ServicingTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Releases" />
      <xs:enumeration value="Portabilities" />
      <xs:enumeration value="LMI" />
      <xs:enumeration value="Consents" />
      <xs:enumeration value="Progress Draw" />
      <xs:enumeration value="Product Switch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChannelEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mail" />
      <xs:enumeration value="NextGen" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="ATTACH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EmailChannelItemEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Body" />
      <xs:enumeration value="Attachment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PhysicalChannelItemEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PhysicalDocument" />
      <xs:enumeration value="Envelope" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AccountNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Minimum" />
      <xs:enumeration value="MinimumFortnightly" />
      <xs:enumeration value="MinimumPlusFixed" />
      <xs:enumeration value="Fixed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Frequency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="Fortnightly" />
      <xs:enumeration value="Monthly" />
      <xs:enumeration value="Fixed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OriginalTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>FAX</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:documentation>FNETCONV</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="O">
        <xs:annotation>
          <xs:documentation>ORIGINAL</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:documentation>ELECTRONIC</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="C">
        <xs:annotation>
          <xs:documentation>COPY</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActivityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Releases" />
      <xs:enumeration value="Portabilities" />
      <xs:enumeration value="LMI" />
      <xs:enumeration value="Consents" />
      <xs:enumeration value="Progress Draw" />
      <xs:enumeration value="Product Switch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PriorityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Urgent" />
      <xs:enumeration value="Private Bank" />
      <xs:enumeration value="Standard" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>